{% extends "@Root/error.html.twig" %}
{% block title %}Erreur interne au serveur{% endblock %}
{% block error_content %}
    <h3>Le serveur a rencontré un problème interne. <br> Merci de réessayer plus tard</h3>
{% endblock %}