{% extends "@Root/error.html.twig" %}
{% block title 'Accès refusé' %}
{% block error_content %}
    <h3>Vous avez avez essayé d'accéder à une zone qui ne vous est pas autorisée</h3>
    
    <p class="mt-5">
        Lahotte - <a href="{{path('logout')}}" style="color: white;">Déconnexion</a>
    </p>
{% endblock %}