
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration de Lahotte' %}

{% block main %} 
    <p>
        <strong>Cliquez sur  une section dans le menu</strong>
    </p>
{% endblock %}